body {
  background-color: #f3f3f3;
}
.box {
  max-width: 500px;
  background-color: #ffffff;
  height: 580px;
  max-height: 580px;
  border-radius: 5%;
  /* box-shadow: 0 1rem 1.5rem rgb(0 157 220) !important; */
}

h1 {
  color: #009ddc;
}

.todo {
  background-color: #469abb;
  color: #ffffff;
}

ul {
  height: 410px;
  max-height: 410px;
  overflow: auto;
}

input[type='text'],
input[type='text']:focus {
  background: rgba(0, 0, 0, 0.2);
  border: none;
}

.delete {
  cursor: pointer;
}

.edit {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.done {
  text-decoration: line-through;
}
